.card__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: opacity 0.3s, background-image 0.5s;
}
