.header__inner {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 504px) {
  .header__inner {
    display: none;
    text-align: center;
    order: 0;
    grid-column: 1/-1;
  }
}
