.header__email {
  margin: 0;
  font-size: 18px;
  color: var(--color-text);
  font-weight: 500;
  line-height: 22px;
  margin-right: 24px;
}

@media screen and (max-width: 504px) {
  .header__email {
    margin-right: 0;
    margin-bottom: 18px;
  }
}
