.tooltip {
  font-family: var(--ff);
  position: relative;
  background-color: var(--color-bg-secondary);
  max-width: 430px;
  width: 100%;
  text-align: center;
  padding: 60px 0;
  border-radius: 10px;
}

@media screen and (max-width: 504px) {
  .tooltip {
    margin: 0 20px;
    padding: 50px 0;
  }
}
