.header {
  padding-bottom: 41px;
  border-bottom: 1px solid var(--color-line);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .header {
    padding-bottom: 32px;
  }
}
